@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans-Bold.ttf"), ("./fonts/OpenSans-Bold.woff"),
    ("./fonts/OpenSans-Bold.woff2");
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans-Regular.ttf"), ("./fonts/OpenSans-Regular.woff"),
    ("./fonts/OpenSans-Regular.woff2");
  font-style: normal;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
}

.body {
  font-family: OpenSans, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  overflow-x: hidden;
}
.header {
  background-image: url("./img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: inherit;
  background-color: #000;
  position: relative;
  z-index: 0;
  margin-bottom: 0;
  padding: 30px 0;
  width: 100%;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: -1;
}
.menu,
.logo-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  margin: 0;
  box-sizing: border-box;
}
.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu-list-item:hover {
  text-decoration: underline;
  color: #fff;
}
.menu-list-item:not(:first-child) {
  margin-left: 37.9px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
}
.welcome-title {
  display: block;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-size: 45px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  max-width: 75%;
  margin: auto;
  padding: 10.5%;
  cursor: default;
}
.trend_right_now {
  font-size: 22.5px;
  font-family: sans-serif;
  text-align: center;
  padding-bottom: 3%;
  padding-top: 4%;
}
.trends {
  box-sizing: border-box;
  display: flex;
}

.trend_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(40%);
}
.trend {
  position: relative;
  overflow: hidden;
  width: 25%;
}
.trend_name {
  color: #fff;
}
.trend:nth-child(2) {
  margin-left: 4px;
  margin-right: 4px;
}
.trend:nth-child(3) {
  margin-right: 4px;
}
.news-container {
  display: block;
  position: relative;
  z-index: 1;
  font-size: 15px;
  font-family: "OpenSans", sans-serif;
  text-transform: uppercase;
  border: 3px solid #b59f5b;
  color: #fff;
  padding: 5%;
  margin: 30% 6% 3% 6%;
}
.page {
  margin-top: 4%;
  max-width: 70vw;
}

.page-wrapper {
  box-sizing: border-box;
  width: 90vw;
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-around;
}

.main {
  justify-content: space-between;
}
.news {
  margin-bottom: 7%;
}

.news-img,
.new-img {
  display: block;
}
.news-tags {
  list-style: none;
  padding: 0;
  display: flex;
  margin-bottom: 1%;
}
.news-tag {
  list-style: none;
  padding: 0;
  margin-bottom: 3.5%;
  display: flex;
}

.news-tag-item {
  margin-right: 2%;
}

.news-tag-link {
  text-decoration: none;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 15px;
}
.news-tag-link:hover {
  color: b59f5b;
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: #0f0d0e;
}
.news-link:hover {
  color: #b59f5b;
}
.news-name {
  font-family: "OpenSans", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  max-width: 25vw;
  max-height: 18vh;
  margin-bottom: 25px;
  margin-top: 0px;
}

.date {
  color: #888888;
  font-size: 12px;
  margin-right: 10px;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  cursor: default;
}

.author {
  font-family: OpenSans, sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 12px;
}
.about {
  margin-top: 10px;
  width: 25vw;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  padding: 30px 0;
  cursor: default;
}
.about > p {
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}
.about > p:not(:first-child) {
  margin-top: 0px;
}
.news-text {
  margin-left: 30px;
}
.news,
.new {
  display: flex;
}
/*Первый блог*/
article.“news” {
  display: flex;
  margin: 63.9px 0;
}

.new-name {
  font-family: OpenSans, sans-serif;
  font-style: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3;
}
.aside-item:not(:first-child) {
  margin-top: 60px;
}
.aside {
  max-width: 20%;
}
.top {
  text-align: center;
  margin-bottom: 0px;
  font-family: OpenSans, sans-serif;
  font-style: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3;
  cursor: default;
}
.top::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  width: 4vw;
  height: 3px;
  background: #b59f5b;
}
.new-text a {
  text-decoration: none;
  color: #000;
}
.new-text a:hover {
  color: #b59f5b;
}
.new-text .date {
  font-size: 12px;
  text-decoration: none;
  color: #000;
  opacity: 0.54;
}
.new-text {
  margin-left: 20px;
}
.new {
  margin-top: 20px;
}
.search {
  margin-top: 60px;
  display: flex;
  width: 100%;
}
.hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
.search-button {
  border: none;
  min-width: 47px;
  background-image: url(./svg/search.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: #b59f5b;
  cursor: pointer;
}
.search-button:hover {
  background-color: #000;
}
.search-field {
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  width: 15vw;
  height: 47px;
  font-size: 13px;
  border: none;
  background-color: #f4f7f6;
}
.search-field:focus {
  outline: 1px solid #b59f5b;
}
.mailing-button {
  margin-top: 18px;
  height: 48px;
  border: none;
  width: 100%;
  background-color: #b59f5b;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}
.mailing-button:hover {
  background-color: #000;
}
.mailing-field {
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 23px;
  width: 100%;
  height: 48px;
  font-size: 13px;
  border: none;
  background-color: #f4f7f6;
}
.mailing-field:focus {
  outline: 1px solid #b59f5b;
}
.list-tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.list-tags-link {
  height: 29px;
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  font-family: OpenSans, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 12px;
  border: 3px solid #f4f3f1;
  padding: 7px 11px;
}
.list-tags-link:hover {
  outline: 3px solid #b59f5b;
}

.list-tags-item {
  margin-top: 26px;
  margin-left: 3px;
  margin-right: 3px;
}

.list-theme {
  list-style: none;
}

.list-theme-link {
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  font-family: OpenSans, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  padding: 0 5px 0 0;
}
.list-theme-link:hover {
  color: #b59f5b;
}
.list-theme-item {
  margin-top: 14px;
  margin-left: 3px;
}

.list-theme-item::after {
  content: "";
  display: block;
  position: relative;
  margin-top: 14px;
  width: 100%;
  height: 1px;
  background: #eeeeee;
}

.list-theme-count {
  display: inline-block;
  vertical-align: top;
  color: #b59f5b;
  font-family: OpenSans, sans-serif;
  font-style: bold;
  font-size: 12px;
}
.social-icon_dribble {
  background-image: url(./svg/001-dribbble.svg);
}
.social-icon_pinterest {
  background-image: url(./svg/001-pinterest.svg);
}
.social-icon_tumblr {
  background-image: url(./svg/003-tumblr.svg);
}
.footer {
  margin-top: 60px;
}
.footer-address {
  width: 78vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
}
.footer-list {
  list-style: none;
  display: flex;
  justify-content: center;
}
.footer-wrapper {
  width: 80.5vw;
  margin-left: 6%;
  padding: 0 15px;
}
.social-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  padding: 30px 15px;
}

.copyright {
  text-decoration: none;
  color: #999;
  font-family: OpenSans, sans-serif;
  font-style: bold;
  font-size: 12px;
  text-align: center;
  margin: 74px;
}
.header-wrapper {
  max-width: 66%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-height: 45%;
}

li {
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.products {
  box-sizing: border-box;
  width: 90vw;
  display: flex;
  margin-bottom: 7%;
}
.product {
  box-sizing: border-box;
  display: block;
  width: 20%;
  margin-left: 10%;
}
.product_title {
  text-transform: uppercase;
  font-size: 20px;
  font-family: OpenSans, sans-serif;
  font-weight: 700;
  font-family: sans-serif;
}
.product_img {
  position: relative;
  z-index: 0;
  padding: 25px;
  width: 20vw;
  object-fit: cover;
}
.product_description {
  font-family: OpenSans, sans-serif;
  display: flex;
  width: 100%;
  font-size: 15px;
  line-height: 1.5;
}
.video_link {
  text-decoration: none;
  color: #bfac71;
  padding-left: 2px;
}
.product_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 6%;
}
.product_body {
  width: 100%;
  border: 3px solid #b59f5b;
  position: relative;
  z-index: 1;
  padding: 23% 17% 10% 10%;
  margin-top: -20%;
  min-height: 26vh;
}
.product_price-value {
  display: block;
}
.product_price {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  font-family: OpenSans, sans-serif;
}
.product_price_old {
  text-decoration: line-through;
  font-size: 14px;
  font-family: OpenSans, sans-serif;
}
.product_button {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 5% 7%;
  background-color: #b59f5b;
  border: 1px solid #b59f5b;
  z-index: 3;
}
h2.top.product_imgbox {
  width: 95vw;
}
#toggle {
  display: none;
}

/*Для планшета*/
@media (min-width: 641px;), (max-width: 1200px) {
  .header {
    background-image: url("./img/banner-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-color: #000;
    position: relative;
    z-index: 0;
    margin-bottom: 0;
    padding: 30px 0;
    max-width: 100%;
  }
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: -1;
  }
  .header-wrapper {
    max-width: 100%;
  }
  .welcome-title {
    font-size: 40px;
    max-width: 100%;
  }

  .hamburger {
    position: absolute;
    top: 4em;
    right: 13.5%;
    margin-top: -45px;
    width: 2em;
    z-index: 5;
  }

  .hamburger div {
    position: relative;
    width: 3em;
    height: 5px;
    border-radius: 3px;
    background-color: #fff;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }

  .menu-link {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }
  .menu-list {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    display: block;
  }
  nav {
    text-align: left;
    margin-left: 80%;
    margin-top: 10%;
  }
  nav a {
    position: relative;
    text-decoration: none;
    color: #6ecddd;
    font-size: 14px;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  nav a:before {
    content: "";
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  }
  nav a:hover {
    color: white;
  }

  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
  }

  #toggle:checked + .hamburger + .menu-link {
    top: 0;
    transform: scale(1);
  }

  .trends {
    display: flex;
    flex-wrap: wrap;
  }
  .trend {
    width: 49%;
    margin-top: 4px;
  }

  .news {
    display: block;
  }
  .new {
    display: inline-flex;
    width: 34.2vw;
  }
  .page-wrapper {
    width: 98vw;
  }
  .aside {
    max-width: 34vw;
  }
  .aside-items,
  .new-posts {
    width: 32vw;
  }
  .news-name {
    max-width: 35vw;
  }
  .about > p {
    width: 43.5vw;
  }
  .news-text {
    margin: 10px 0;
  }
  .search-field {
    width: 26vw;
  }
  .mailing-form {
    width: 32vw;
  }
  .products {
    flex-wrap: wrap;
    margin-left: -7%;
  }
  .product {
    width: 40%;
  }
  .product_img {
    width: 93%;
    object-fit: cover;
  }
  .product_body {
    padding: 17% 0% 1% 6%;
    min-height: 26.5vh;
    min-width: 35vw;
    margin-top: -16%;
  }
  .product_title {
    font-size: 17px;
    padding-bottom: 10px;
  }
  .product_button {
    margin-right: 7%;
  }
  .pop-up_form {
    width: 40vw;
    height: 79vh;
  }
  .pop-up_close {
    bottom: 39%;
  }
}

/* Style for mobile versions*/
@media screen and (max-width: 640px) {
  .header {
    background-image: url("./img/banner-mobile.jpg");
    position: relative;
    z-index: 0;
    margin-bottom: 0;
    padding: 30px 0;
    min-width: 100vw;
    min-height: 88vh;
  }
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: -1;
  }
  .menu,
  .logo-link {
    justify-content: center;
    margin-top: 16%;
  }
  .header-logo {
    width: 75vw;
  }
  .trend {
    width: 100%;
    height: 50vh;
    margin: 0 0 4px 0;
  }
  .trend:nth-child(n + 2) {
    margin: 0 0 4px 0;
  }
  .trend_name {
    margin: 6% 0;
  }
  .news-container {
    margin: 27vh 6% 0% 6%;
    height: 12vh;
  }
  .page-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .news-img {
    width: 89vw;
  }
  .news-name {
    max-width: 78vw;
  }
  .page-wrapper {
    width: 100vw;
  }
  .about > p {
    width: 59.5vw;
  }
  .aside {
    max-width: 90vw;
  }
  .aside-items,
  .new-posts {
    width: 90vw;
  }
  .new-text {
    width: 90vw;
  }
  .new {
    width: 74.2vw;
  }
  .search-field {
    width: 77vw;
  }
  .mailing-form {
    width: 87vw;
  }
  .top::after {
    width: 18vw;
  }
  .product {
    width: 95%;
  }
  .product_img {
    width: 81vw;
  }
  .product_body {
    margin-top: -20%;
    min-height: 15.5vh;
    padding: 18% 0% 4% 6%;
  }
  .pop-up_form {
    min-width: 70vw;
    min-height: 75vh;
    margin-left: 8.5%;
  }
}
@media (orientation: landscape) and (max-width: 640px) {
  .trend {
    width: 49%;
    margin: 0px 4px 4px 0px;
  }
  .trend:nth-child(3) {
    margin: 0px 4px 0px 0px;
  }
  .news-container {
    margin: 18vh 6% 1% 6%;
    height: 22vh;
  }
}

/*Pop-up*/
.pop-up_form {
  width: 22vw;
  height: 70vh;
  font-size: 14px;
  font-family: OpenSans, sans-serif;
  padding: 35px;
  border: 1px solid #cbd1d4;
  margin-left: auto;
  margin-right: 12%;
  margin-top: 7%;
  position: relative;
}

.pop-up_title {
  text-align: center;
  margin-bottom: 0px;
  font-family: OpenSans, sans-serif;
  font-style: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.3;
  cursor: default;
}
.pop-up_title::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  width: 6vw;
  height: 3px;
  background: #b59f5b;
}
.form-group {
  margin-bottom: 5vh;
}
.pop-up_title {
  margin-bottom: 8%;
  margin-top: -1%;
}
.select {
  width: 100%;
  padding: 10px;
}
.select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/svg/form-arrows.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right 5px center;
  padding-left: 10px;
  padding-right: 25px;
  margin: 0;
  border: none;
  font-size: 13px;
  font-family: OpenSans, sans-serif;
  color: grey;
  background-color: #f4f7f6;
  margin-top: 2%;
  margin-bottom: -3%;
}
input.checkbox {
  display: none;
}
.circle_svg {
  margin-top: 3%;
  font-size: 14px;
}
input#new_content {
  width: 100%;
  margin-top: 2%;
  border: none;
  background-color: #f4f7f6;
  padding-bottom: 40%;
}
.button_pop-up {
  width: 100%;
  padding: 10px;
  background-color: #b59f5b;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: OpenSans, sans-serif;
}
.button_pop-up:hover {
  cursor: pointer;
}

.pop-up_close {
  position: relative;
  bottom: 42.5%;
  left: 103.5%;
  width: 25px;
  height: 25px;
}
