@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans-Bold.ttf"), ("./fonts/OpenSans-Bold.woff"),
    ("./fonts/OpenSans-Bold.woff2");
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans-Regular.ttf"), ("fonts\OpenSans-Regular.woff"),
    ("fonts\OpenSans-Regular.woff2");
  font-style: normal;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
}

.body {
  font-family: OpenSans, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  overflow-x: hidden;
}
.header {
  background-image: url("./img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: inherit;
  background-color: #000;
  position: relative;
  z-index: 0;
  margin-bottom: 0;
  padding: 30px 0;
  width: 100%;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: -1;
}
.menu,
.logo-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  margin: 0;
  box-sizing: border-box;
}
.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu-list-item:hover {
  text-decoration: underline;
  color: #fff;
}
.menu-list-item:not(:first-child) {
  margin-left: 37.9px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
}
.welcome-title {
  display: block;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-size: 45px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  max-width: 75%;
  margin: auto;
  padding: 10.5%;
  cursor: default;
}
.trend_right_now {
  font-size: 22.5px;
  font-family: sans-serif;
  text-align: center;
  padding-bottom: 3%;
  padding-top: 4%;
}
.trends {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 40vh;
}

.trend_img {
  width: 100%;
  position: absolute;
  filter: brightness(40%);
  z-index: 0;
  height: 100%;
}
.trend {
  width: 25%;
  box-sizing: border-box;
  position: relative;
  display: flex;
}
.trend_name {
  color: #fff;
}
.trend:nth-child(2) {
  margin-left: 4px;
  margin-right: 4px;
}
.trend:nth-child(3) {
  margin-right: 4px;
}
.news-container {
  display: block;
  position: relative;
  z-index: 1;
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
  text-transform: uppercase;
  border: 3px solid #b59f5b;
  color: #fff;
  padding: 5%;
  margin: 30% 6% 3% 6%;
}
.page {
  margin-top: 4%;
  max-width: 70vw;
}

.page-wrapper {
  box-sizing: border-box;
  width: 90vw;
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-around;
}

.main {
  justify-content: space-between;
}
.news {
  margin-bottom: 7%;
}

.news-img,
.new-img {
  display: block;
}
.news-tags {
  list-style: none;
  padding: 0;
  display: flex;
  margin-bottom: 1%;
}
.news-tag {
  list-style: none;
  padding: 0;
  margin-bottom: 3.5%;
  display: flex;
}

.news-tag-item {
  margin-right: 2%;
}

.news-tag-link {
  text-decoration: none;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 15px;
}
.news-tag-link:hover {
  color: b59f5b;
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: #0f0d0e;
}
.news-link:hover {
  color: #b59f5b;
}
.news-name {
  font-family: "OpenSans", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  max-width: 25vw;
  max-height: 18vh;
  margin-bottom: 25px;
  margin-top: 0px;
}

.date {
  color: #888888;
  font-size: 12px;
  margin-right: 10px;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  cursor: default;
}

.author {
  font-family: OpenSans, sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 12px;
}
.about {
  margin-top: 10px;
  width: 25vw;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  padding: 30px 0;
  cursor: default;
}
.about > p {
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}
.about > p:not(:first-child) {
  margin-top: 0px;
}
.news-text {
  margin-left: 30px;
}
.news,
.new {
  display: flex;
}
/*Первый блог*/
article.“news” {
  display: flex;
  margin: 63.9px 0;
}

.new-name {
  font-family: OpenSans, sans-serif;
  font-style: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3;
}
.aside-item:not(:first-child) {
  margin-top: 60px;
}
.aside {
  max-width: 20%;
}
.top {
  text-align: center;
  margin-bottom: 0px;
  font-family: OpenSans, sans-serif;
  font-style: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3;
  cursor: default;
}
.top::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  width: 4vw;
  height: 3px;
  background: #b59f5b;
}
.new-text a {
  text-decoration: none;
  color: #000;
}
.new-text a:hover {
  color: #b59f5b;
}
.new-text .date {
  font-size: 12px;
  text-decoration: none;
  color: #000;
  opacity: 0.54;
}
.new-text {
  margin-left: 20px;
}
.new {
  margin-top: 20px;
}
.search {
  margin-top: 60px;
  display: flex;
  width: 100%;
}
.hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
.search-button {
  border: none;
  width: 47px;
  background-image: url(./svg/search.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: #b59f5b;
  cursor: pointer;
}
.search-button:hover {
  background-color: #000;
}
.search-field {
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  width: 15vw;
  height: 47px;
  font-size: 13px;
  border: none;
  background-color: #f4f7f6;
}
.search-field:focus {
  outline: 1px solid #b59f5b;
}
.mailing-button {
  margin-top: 18px;
  height: 48px;
  border: none;
  width: 100%;
  background-color: #b59f5b;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}
.mailing-button:hover {
  background-color: #000;
}
.mailing-field {
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 23px;
  width: 100%;
  height: 48px;
  font-size: 13px;
  border: none;
  background-color: #f4f7f6;
}
.mailing-field:focus {
  outline: 1px solid #b59f5b;
}
.list-tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.list-tags-link {
  height: 29px;
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  font-family: OpenSans, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 12px;
  border: 3px solid #f4f3f1;
  padding: 7px 11px;
}
.list-tags-link:hover {
  outline: 3px solid #b59f5b;
}

.list-tags-item {
  margin-top: 26px;
  margin-left: 3px;
  margin-right: 3px;
}

.list-theme {
  list-style: none;
}

.list-theme-link {
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  font-family: OpenSans, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  padding: 0 5px 0 0;
}
.list-theme-link:hover {
  color: #b59f5b;
}
.list-theme-item {
  margin-top: 14px;
  margin-left: 3px;
}

.list-theme-item::after {
  content: "";
  display: block;
  position: relative;
  margin-top: 14px;
  width: 100%;
  height: 1px;
  background: #eeeeee;
}

.list-theme-count {
  display: inline-block;
  vertical-align: top;
  color: #b59f5b;
  font-family: OpenSans, sans-serif;
  font-style: bold;
  font-size: 12px;
}
.social-icon_dribble {
  background-image: url(./svg/001-dribbble.svg);
}
.social-icon_pinterest {
  background-image: url(./svg/001-pinterest.svg);
}
.social-icon_tumblr {
  background-image: url(./svg/003-tumblr.svg);
}
.footer {
  margin-top: 60px;
}
.footer-address {
  margin: 20px;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
}
.footer-list {
  list-style: none;
  display: flex;
  justify-content: center;
}
.footer-wrapper {
  width: 80.5vw;
  margin-left: 6%;
  padding: 0 15px;
}
.social-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  padding: 30px 15px;
}

.copyright {
  text-decoration: none;
  color: #999;
  font-family: OpenSans, sans-serif;
  font-style: bold;
  font-size: 12px;
  text-align: center;
  margin: 74px;
}
.header-wrapper {
  max-width: 66%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-height: 45%;
}

li {
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.products {
  box-sizing: border-box;
  width: 90vw;
  display: flex;
}
.product {
  box-sizing: border-box;
  display: block;
  width: 20%;
  margin-left: 10%;
}
.product_title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  font-family: sans-serif;
}
.product_img {
  position: relative;
  z-index: 0;
  padding: 25px;
  width: 20vw;
}
.product_description {
  display: flex;
  width: 100%;
  font-size: 15px;
  line-height: 1.5;
}
.video_link {
  text-decoration: none;
  color: #bfac71;
  padding-left: 2px;
}
.product_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 6%;
}
.product_body {
  width: 100%;
  border: 3px solid #b59f5b;
  position: relative;
  z-index: 1;
  padding: 23% 17% 17% 10%;
  margin-top: -66px;
}
.product_price-value {
  display: block;
}
.product_price {
  display: flex;
  font-size: 20px;
  font-weight: 700;
}
.product_price_old {
  text-decoration: line-through;
  font-size: 14px;
}
.product_button {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 5% 7%;
  background-color: #b59f5b;
  border: 1px solid #b59f5b;
  z-index: 3;
}
h2.top.product_imgbox {
  width: 95vw;
}
